<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Ponder 09</h1>
    <p>This is code for Ponder 09</p>
    <a type="button" class="btn btn-lg btn-default" href="submit.html"><span class="glyphicon glyphicon-flash"></span> Find the postage rate</a>
  </div>
</div>